@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Playwrite+DE+LA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sekuya&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'horizon';
    src: url('Fontes/Horizon_Regular.otf') format('opentype');
}

@font-face {
    font-family: 'assinatura';
    src: url('Fontes/SevenDaySignature-RpKO3.otf') format('opentype');
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);

    }
    100% {
        transform: scale(1);
    }
}

/* Fontes */
:root {
    --font-padrao: 'poppins';
    --font-titulo: 'horizon';
    --font-assinatura: 'assinatura';
}

/* Cores */
:root {
    --botoes_cor_fundo: rgb(2, 3, 3);
    --corpo-cor-fundo_1: #070708;
    --corpo-cor-fundo_2: #0B2A1A;
    --cor-secao: #1c1c1f;
    
}

* {
    font-family: var(--font-padrao);
    color: white;
}

body {
    margin: 0px;
    background: linear-gradient(to right, var(--corpo-cor-fundo_1) 60%, var(--corpo-cor-fundo_2));
    height: 100vh;
    
}

header {
    background-color: linear-gradient(to right, var(--cabeçalho_cor_fundo_2), var(--cabeçalho_cor_fundo_1));
    max-height: 150vh;
    width: auto;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
    }
    
    h1 {
        font-family: var(--font-titulo);
        font-size: 25px;
        margin-left: 20px;
        color: white;
        transition: all 0.5s;
        cursor: default;

        &:hover {
            transform: scale(1.1);
            transition: all 0.5s;
            cursor: pointer;
        }
    }
}

header > nav {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    height: 100%;
    
    a {
        color: white;
        font-weight: 600;
        font-size: 20px;
        width: 4em;
        text-align: center;
        padding: 10px;
        border-radius: 15px;
        transition: all 0.5s;

        &:hover {
            opacity: 0.7;
            background-color: var(--botoes_cor_fundo);
            transition: all 0.3s;
            transform: scale(0.9);
            
        }

        &:active {
            opacity: 0.5;
            transition: all 0.1s;
            transform: scale(0.8);
        }
        
    }
    
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;

    section {
        margin: 0px;
        margin-left: 100px;
        width: 70vh;
        height: 50vh;
        background-color: var(--cor-secao);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        animation: pulse 2s infinite;

        h2 {
            font-size: 30px;
            margin-bottom: 20px;
            color: white;
            cursor: default;
            
            
        span {
            font-family: var(--font-assinatura);
            font-size: 50px;
            color: white;
            font-weight: normal;
            cursor: default;
        }
        }
        
        p {
            font-size: 20px;
            color: white;
            cursor: default;
            
        }
    }
}
